<h1> Data Science Tools and Ecosystem </h1>

<h2>Author</h2>
Karthik Balasubramanian

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Use of Jupyter Notebook to record data science experiments
- Popular programming languages used by Data Scientists
- Commonly used libraries by Data Scientists
- Tools used in data science
- Examples of evaluating arithmetic expressions in python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Seaborn
4. Sqlite3

|Data Science Tools|
|:----------------:|
|Jupyter Notebook|
|Github|
|Anaconda|

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335